<br /> <br />
<%= form_for(@requirement, :url => url_for(:host => APP_CONFIG['host_name'], :controller => "requirements", :action => (button_tag == "Update" ? "update" : "create")), :html => {:method => (button_tag == "Update" ? "put" : "post")}) do |f|%>

  <%if @requirement%>
  <%  if @requirement.exp%>
 <%     exp      = @requirement.exp.split("-")%>
  <%    min_exp  = exp[0]%>
  <%    max_exp  = exp[1]%>
  <%  end%>

  <%  status   = @requirement.status%>
  <%  req_type = @requirement.req_type%>
  <%  nop      = @requirement.nop%>
  <%  sdate    = date_in_calendar_format(@requirement.sdate) if @requirement.sdate%>
  <%  edate    = date_in_calendar_format(@requirement.edate) if @requirement.edate%>
  <%else%>
  <%  min_exp  = max_exp = status = req_type = sdate = edate = nop = ""%>
  <%end%>
  <% if @requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requirement.errors.count, "error") %> prohibited this requirement from being saved:</h2>

      <ul>
      <% @requirement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table id="req_form_table">
    <tr>
      <td> Requirement name </td>
      <td> <%= f.text_field :name %> </td>
    </tr>
    <tr>
      <td> Number of positions </td>
      <td>
        <%= select_tag "requirement[nop]", options_for_select(get_experience_years, nop) %>
      </td>
    </tr>
    <tr>
      <td> Position Name </td>
      <td> <%= collection_select(:requirement, :designation_id, @designations, :id, :name, { :prompt => "Please Select" }) %> </td>
    </tr>
    <tr>
      <td> Requirement skills </td>
      <td> <%= f.text_area :skill %> </td>
    </tr>
    <tr>
      <td> Requirement description </td>
      <td> <%= f.text_area :description %> </td>
    </tr>
    <tr>
      <td> Management comment </td>
      <td> <%= f.text_area :mgt_comment %> </td>
    </tr>
    <tr>
      <td> Start Date </td>
      <td><%= f.text_field :sdate, :class => "datepicker" %></td>
    </tr>
    <tr>
      <td> End Date </td>
      <td><%= f.text_field :edate, :class => "datepicker" %></td>
  </tr>
    <tr>
      <td> Required Experience </td>
      <td class="two_dropdownlist_single_td">
        <%= select_tag "req[min_exp]", options_for_select(get_experience_years, min_exp.to_i) %> Min
        <%= select_tag "req[max_exp]", options_for_select(get_experience_years, max_exp.to_i) %> Max
      </td>
    </tr>
    <tr>
      <td> Group </td>
      <td> <%= collection_select(:requirement, :group_id, @groups, :id, :name, { :prompt => "Please Select" }) %> </td>
    </tr>
    <tr>
      <td> Manager </td>
      <td> <%= collection_select(:requirement, :employee_id, @employees, :id, :name, { :prompt => "Please Select" }) %> </td>
    </tr>
    <tr>
      <td> Source owner </td>
      <td> <%= collection_select(:requirement, :source_owner, @ta_employees, :id, :name, { :prompt => "Please Select" }) %> </td>
    </tr>
    <tr>
      <td> Schedule owner </td>
      <td> <%= collection_select(:requirement, :schedule_owner, @ta_employees, :id, :name, { :prompt => "Please Select" }) %> </td>
    </tr>
    <tr>
      <td> TA Lead </td>
      <td> <%= collection_select(:requirement, :ta_lead_id, @ta_employees, :id, :name, { :prompt => "Please Select" }) %> </td>
    </tr>
    <tr>
      <td> Eng Lead </td>
      <td> <%= collection_select(:requirement, :eng_lead_id, @employees, :id, :name, { :prompt => "Please Select" }) %> </td>
    </tr>
      <tr>
      <td> Requirement status   </td>
      <td> <%= select_tag "requirement[status]", options_for_select(Requirement.status_options_for_select, status) %> </td>
    </tr>
    <tr>
      <td> Requirement type     </td>
      <td> <%= select_tag "requirement[req_type]", options_for_select(Requirement.req_type_options_for_select, req_type) %> </td>
    </tr>
    <tr>
      <td> &nbsp; </td>
      <td class="requirement_submit_button"> <%= f.submit("#{button_tag}") %> </td>
    </tr>
  </table>
<% end %>
<br /> <br />
<%= link_to "List of requirements", :host => APP_CONFIG['host_name'], :controller => "requirements", :style => "color: #0000FF;" %>
<script>
  $(function() {
  $('.datepicker').datepicker({
        dateFormat: 'dd-mm-yy',
        showOn: "button",
        buttonImage: "/assets/calendar.gif",
        buttonImageOnly: true,
        buttonText: "Select date"
      });
});
</script>
