<div class="form-container">
  <div class="form-header">
    <h2><%= button_tag == "Update" ? "Edit Requirement" : "New Requirement" %></h2>
  </div>

  <%= form_for(@requirement, :url => url_for(:host => APP_CONFIG['host_name'], :controller => "requirements", :action => (button_tag == "Update" ? "update" : "create")), :html => {:method => (button_tag == "Update" ? "put" : "post"), class: "modern-form"}) do |f|%>

    <%if @requirement%>
    <%  if @requirement.exp%>
   <%     exp      = @requirement.exp.split("-")%>
    <%    min_exp  = exp[0]%>
    <%    max_exp  = exp[1]%>
    <%  end%>

    <%  status   = @requirement.status%>
    <%  req_type = @requirement.req_type%>
    <%  nop      = @requirement.nop%>
    <%  sdate    = date_in_calendar_format(@requirement.sdate) if @requirement.sdate%>
    <%  edate    = date_in_calendar_format(@requirement.edate) if @requirement.edate%>
    <%else%>
    <%  min_exp  = max_exp = status = req_type = sdate = edate = nop = ""%>
    <%end%>

    <% if @requirement.errors.any? %>
      <div class="error-messages">
        <h3><%= pluralize(@requirement.errors.count, "error") %> prohibited this requirement from being saved:</h3>
        <ul>
        <% @requirement.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-section">
      <div class="form-row">
        <div class="form-group">
          <label for="requirement_name">Requirement Name *</label>
          <%= f.text_field :name, class: "form-control", placeholder: "Enter requirement name" %>
        </div>
        <div class="form-group">
          <label for="requirement_nop">Number of Positions</label>
          <%= select_tag "requirement[nop]", options_for_select(get_experience_years, nop), class: "form-control" %>
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group">
          <label for="requirement_designation_id">Position Name *</label>
          <%= collection_select(:requirement, :designation_id, @designations, :id, :name, { :prompt => "Please Select" }, class: "form-control") %>
        </div>
        <div class="form-group">
          <label for="requirement_group_id">Group *</label>
          <%= collection_select(:requirement, :group_id, @groups, :id, :name, { :prompt => "Please Select" }, class: "form-control") %>
        </div>
      </div>

      <div class="form-group">
        <label>Required Experience</label>
        <div class="experience-inputs">
          <%= select_tag "req[min_exp]", options_for_select(get_experience_years, min_exp.to_i), class: "form-control experience-select" %>
          <span class="experience-label">Min</span>
          <%= select_tag "req[max_exp]", options_for_select(get_experience_years, max_exp.to_i), class: "form-control experience-select" %>
          <span class="experience-label">Max</span>
        </div>
      </div>
    </div>

    <div class="form-section">
      <div class="form-group">
        <label for="requirement_skill">Requirement Skills</label>
        <%= f.text_area :skill, class: "form-control", rows: 3, placeholder: "Enter required skills" %>
      </div>
      
      <div class="form-group">
        <label for="requirement_description">Requirement Description</label>
        <%= f.text_area :description, class: "form-control", rows: 4, placeholder: "Enter detailed description" %>
      </div>
      
      <div class="form-group">
        <label for="requirement_mgt_comment">Management Comment</label>
        <%= f.text_area :mgt_comment, class: "form-control", rows: 3, placeholder: "Enter management comments" %>
      </div>
    </div>

    <div class="form-section">
      <div class="form-row">
        <div class="form-group">
          <label for="requirement_sdate">Start Date</label>
          <%= f.text_field :sdate, class: "form-control datepicker", placeholder: "Select start date" %>
        </div>
        <div class="form-group">
          <label for="requirement_edate">End Date</label>
          <%= f.text_field :edate, class: "form-control datepicker", placeholder: "Select end date" %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <div class="form-row">
        <div class="form-group">
          <label for="requirement_employee_id">Manager *</label>
          <%= collection_select(:requirement, :employee_id, @employees, :id, :name, { :prompt => "Please Select" }, class: "form-control") %>
        </div>
      </div>
      
      <div class="form-group">
        <label for="eng_leads_names">Engineering Leads (Multiple)</label>
        <%= text_field_tag :eng_leads_names, 
                          @requirement&.eng_leads&.map(&:name)&.join(', '), 
                          class: "form-control eng-leads-autocomplete", 
                          placeholder: "Type employee names to search...",
                          data: { autocomplete_url: url_for(host: APP_CONFIG['host_name'], controller: 'employees', action: 'autocomplete_employees') } %>
        <small class="form-text text-muted">Type to search for active employees. Multiple names can be separated by commas.</small>
      </div>
      
      <div class="form-row">
        <div class="form-group">
          <label for="requirement_source_owner">Source Owner</label>
          <%= collection_select(:requirement, :source_owner, @ta_employees, :id, :name, { :prompt => "Please Select" }, class: "form-control") %>
        </div>
        <div class="form-group">
          <label for="requirement_schedule_owner">Schedule Owner</label>
          <%= collection_select(:requirement, :schedule_owner, @ta_employees, :id, :name, { :prompt => "Please Select" }, class: "form-control") %>
        </div>
      </div>
      
      <div class="form-group">
        <label for="requirement_ta_lead_id">TA Lead</label>
        <%= collection_select(:requirement, :ta_lead_id, @ta_employees, :id, :name, { :prompt => "Please Select" }, class: "form-control") %>
      </div>
    </div>

    <div class="form-section">
      <div class="form-row">
        <div class="form-group">
          <label for="requirement_status">Requirement Status</label>
          <%= select_tag "requirement[status]", options_for_select(Requirement.status_options_for_select, status), class: "form-control" %>
        </div>
        <div class="form-group">
          <label for="requirement_req_type">Requirement Type</label>
          <%= select_tag "requirement[req_type]", options_for_select(Requirement.req_type_options_for_select, req_type), class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit(button_tag, class: "btn btn-primary") %>
      <%= link_to "Cancel", url_for(:host => APP_CONFIG['host_name'], :controller => "requirements"), class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
