<div id="group_index_div" class="common_class">
  <span> List of Departments </span>
  <div class="add_link">
  <%= link_to "Add new department", :host => APP_CONFIG['host_name'], :controller => "groups", :action => "new" %>
  </div>
  <br /> <br />
  <table class="group_list_class">
    <tr class="header_row">
      <td> Deptt Name </td>
      <td> Owner Name </td>
      <td> Actions    </td>
    </tr>
    <% @groups.each do |group| %>
      <tr class="<%= cycle('color_line_odd', 'color_line_even') %>">
        <td>
          <%= link_to group.name, :host => APP_CONFIG['host_name'], :controller => "groups", :action => "show", :id => group.id  %>
        </td>
        <td>
          <%= group.employee.name %>
        </td>
        <td>
          <%= link_to "Edit", :host => APP_CONFIG['host_name'], :controller => "groups", :action => "edit", :id => group.id, :style => "font-weight: bold; color: green;" %>
        </td>
      </tr>
    <% end %>
  </table>
  <br /> <br />
</div>
