<div class="table-container">
  <div class="table-header">
    <h2>Dashboard</h2>
  </div>
  
  <table class="modern-table">
    <thead>
      <tr>
        <th>New</th>
        <th>Forwards</th>
        <th>Shortlisted</th>
        <th>Scheduled</th>
        <th>Rejected</th>
        <th>Holds</th>
        <th>Eng Select</th>
        <th>HAC</th>
        <th>YTO</th>
        <th>Offered</th>
        <th>Joining</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to @new.size, :controller=> "resumes", :action => "new_resumes", :mine => "true" %></td>
        <td><%= link_to @forwards.size, :controller => "resumes", :action => "forwarded", :mine => "true"%></td>
        <td><%= link_to @shortlists.size, :controller => "resumes", :action => "shortlisted", :mine => "true"%></td>
        <td><%= link_to @scheduled.size, :controller => "resumes", :action => "interviews_status", :mine => "true"%></td>
        <td><%= link_to @rejected.size, :controller => "resumes", :action => "rejected", :mine => "true"%></td>
        <td><%= link_to @holds.size, :controller => "resumes", :action => "hold", :mine => "true"%></td>
        <td><%= link_to @eng_selects.size, :controller => "resumes", :action => "eng_select", :mine => "true"%></td>
        <td><%= link_to @hacs.size, :controller => "resumes", :action => "hac", :mine => "true"%></td>
        <td><%= link_to @ytos.size, :controller => "resumes", :action => "yto", :mine => "true"%></td>
        <td><%= link_to @offered.size, :controller => "resumes", :action => "offered", :mine => "true"%></td>
        <td><%= link_to @joining.size, :controller => "resumes", :action => "joined", :mine => "true"%></td>
      </tr>
    </tbody>
  </table>
</div>
