<div class="interview-panel">
<h1 class="interview-panel__title">Interview Panels</h1>
<br>
<div>
  <%= form_tag(url_for(:host => APP_CONFIG['host_name'], :controller => "interview_skills", :action => "create"), :method => "post") do %>
    <label for="skill"> Add new skill:</label>
    <%= text_field_tag :skill %> 
    <%= submit_tag "Submit" %> 
  <% end %>
</div>
<br>

<div>
  <label for="Search"> Search Skill</label>
  <input type="text" id="search_skill" name="skill" value="">
  <input type="submit" value="Search" id="search_skill_submit" onclick="search()">
</div>
<br>

<%@skills.each do |skill|  %>
  <div class="skill_container" data-skill-name= "<%= skill.name %>">
    <div class="skill">
      <span class= "skill-name"><%= skill.name %></span>
      <span>
        <%= form_tag(url_for(:host => APP_CONFIG['host_name'], :controller => "interview_skills", :action => "add_interviewer"), :method => "post") do %>
          <span class="add-interviewer">Add new interviewer:</span>   <input type="text" class="new-interviewer" name="new_interviewer" value="" required="required">
          <%= hidden_field_tag "skill_id", skill.id %>
          <%= submit_tag "Add" %> 
        <% end %>
      </span>
    </div>  
    
    <table class= "int-table" style="width:100%">
      <tr>
        <th class="int-th">Interviewer Name</th>
        <th class="int-th">No of Interview schedule</th> 
        <th class="int-th">slots available/week</th> 
        <th class="int-th">Email</th> 
        <th class="int-th">Phone</th> 
        <th class="int-th">Customer</th> 
        <th class="int-th">Action</th>
      </tr>
      <% skill.interviewers.each do |interviewer|%>
        <tr>
          <td class="t-data"><%=interviewer.name %></td>
          <td class="t-data" ><%= interviewer.interviews.next_week %></td>
          <td class="t-data" >
            <%= form_tag(url_for(:host => APP_CONFIG['host_name'], :controller => "employees", :action => "edit_slot"), :method => "post") do %>
              <input type="number" class="edit_slot" name="n_interviews_per_week" value=<%= interviewer.n_interviews_per_week %>>
          <%= hidden_field_tag "interviewer_id", interviewer.id %>
          <%= submit_tag "update" %> 
        <% end %>
          </td>
          <td class="t-data email-<%=interviewer.eid%>" >Not Found</td>
          <td class="t-data phone-<%=interviewer.eid%>">Not Found</td>
          <td class="t-data customer-<%=interviewer.eid%>" >Not Found</td>
            
          <td><span class="close_box_link">
            <%= link_to image_tag("RedCross.png", :size => "22x22"),url_for(controller: :interview_skills, action: :destroy,id: interviewer.id, skill_id: skill.id),method: :delete, data: {confirm: "Are you sure you want to remove interviewer?"},title: "delete" %>
          </span> <br /></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<% url = "http://" + APP_CONFIG['host_name'] + employees_autocomplete_path %>
<script>
  $('.new-interviewer').autocomplete({
    source: function(request, response) {
      $.ajax({
        url: '<%=url%>',
        dataType: "json",
        data: {
          query: request.term
        },
        success: function(data) {
          response(data);
        }
      });
    }
  });

  $.ajax({
    url: '/customer_data',
    type: 'GET',
    data:{employee_id:<%= @eids %>},
    success: function (response) {
        $.each(response, function (i, item) {
          var i = 0;
          var htmlElements = document.querySelectorAll(".email-"+item.eid);
          while(i < htmlElements.length) {
            htmlElements[i].innerHTML = item.email;
            i+=1;
          }
          i = 0;
          htmlElements = document.querySelectorAll(".phone-"+item.eid);
          while(i < htmlElements.length) {
            htmlElements[i].innerHTML = item.phone;
            i+=1;
          }
          i = 0;
          htmlElements = document.querySelectorAll(".customer-"+item.eid);
          while(i < htmlElements.length) {
            htmlElements[i].innerHTML = item.customer;
            i+=1;
          }
        });
      
    }
  });

  function search (){
    var skills = document.querySelectorAll('[data-skill-name]');
    var i = 0;
    var searchTerm =document.getElementById("search_skill").value.toLowerCase();
    while (i < skills.length) {
      var skillName= skills[i].getAttribute('data-skill-name').toLowerCase();
      if (skillName.includes(searchTerm)) {
        skills[i].style.display="block"
      } else {
          skills[i].style.display="none"
      }
      i+=1;
    }
  }
</script>

