<div class="interview-panel">
<h1 class="interview-panel__title">Interview Panels</h1>
<br>
<div>

  <form action= "/add_skill" method= "post">
    <label for="skill"> Add new skill:</label>
    <input type="text" id="skill" name="skill" value="" required="required">
    <input type="submit" value="Add">
  </form>
</div>
<br>

<div>
  <form action= "/home/interview-panels" method= "get">
    <label for="Search"> Search Skill</label>
    <input type="text" id="search_skill" name="skill" value="">
    <input type="submit" value="Search">
  </form>
</div>
<br>

<%@skills.each do |skill|  %>
  <div class="skill">
    <span class= "skill-name">skill - <%= skill.name.capitalize %></span>
    <span>
      <form action= "/add_interviewer" method= "post">
        <span class="add-interviewer">Add new interviewer:</span>   <input type="text" class="new-interviewer" name="new_interviewer" value="" required="required">
        <%= hidden_field_tag "skill_id", skill.id %>
        <input type="submit" value="Add"> 
      </form>  
    </span>
  </div>  
    
  <table class= "int-table" style="width:100%">
  <tr>
    <th class="int-th">Interviewer Name</th>
    <th class="int-th">No of Interview schedule</th> 
    <th class="int-th">Action</th>
  </tr>
  <% skill.interviewers.each do |interviewer|%>
    <tr>
      <td class="t-data"><%=interviewer.name %></td>
      <td class="t-data" ><%= interviewer.interviews.next_week %></td>
      <td><span class="close_box_link">
        <%= link_to image_tag("RedCross.png", :size => "22x22"),url_for(controller: :interview_skills, action: :destroy,id: interviewer.id, skill_id: skill.id),method: :delete, data: {confirm: "Are you sure you want to remove interviewer?"},title: "delete" %>
      </span> <br /></td>
    </tr>
  <% end %>
</table>
<br>
<br>
<% end %>
</div>
<script>
  $('.new-interviewer').autocomplete({
    source: function(request, response) {
      $.ajax({
        url: '<%="#{employees_autocomplete_path}"%>',
        dataType: "json",
        data: {
          query: request.term
        },
        success: function(data) {
          response(data);
        }
      });
    }
  });
</script>

