<div class="interview-panel">
<h1 class="interview-panel__title">Interview Panels</h1>
<br>
<div>
  <%= form_tag(url_for(:host => APP_CONFIG['host_name'], :controller => "interview_skills", :action => "create"), :method => "post") do %>
    <label for="skill"> Add new skill:</label>
    <%= text_field_tag :skill %> 
    <%= submit_tag "Submit" %> 
  <% end %>
</div>
<br>

<div>
  <label for="Search"> Search Skill</label>
  <input type="text" id="search_skill" name="skill" value="">
  <input type="submit" value="Search" id="search_skill_submit" onclick="search()">
</div>
<br>

<%@skills.each do |skill|  %>
  <div class="skill_container" data-skill-name= "<%= skill.name %>">
    <div class="skill">
      <span class= "skill-name"><%= skill.name %></span>
      <span>
        <%= form_tag(url_for(:host => APP_CONFIG['host_name'], :controller => "interview_skills", :action => "add_interviewer"), :method => "post") do %>
          <span class="add-interviewer">Add new interviewer:</span>   <input type="text" class="new-interviewer" name="new_interviewer" value="" required="required">
          <%= hidden_field_tag "skill_id", skill.id %>
          <%= submit_tag "Add" %> 
        <% end %>
      </span>
    </div>  
    
    <table class= "int-table table" style="width:100%">
      <tr>
        <th class="int-th">Name</th>
        <th class="int-th">Interviews</th> 
        <th class="int-th">Slots/week</th>
        <th class="int-th">Preferred Day/time</th> 
        <th class="int-th">Email</th> 
        <th class="int-th">Phone</th>
        <th class="int-th">Customer</th> 
        <th class="int-th">Action</th>
      </tr>
      <% skill.interviewers.each do |interviewer|%>
        <tr>
          <td class="t-data"><%=interviewer.name %></td>
          <td class="t-data" ><%= interviewer.interviews.next_week %></td>
          <td class="t-data" >
            <span id=<%= "#{skill.id}-#{interviewer.eid}"%>> <%= interviewer.n_interviews_per_week %> <%= link_to image_tag("edit.svg", :size => "15x15"),'#', onclick: "toggleElement(event,'##{skill.id}-#{interviewer.eid}')", title:"Edit" %></span>
            <%= form_tag(url_for(:host => APP_CONFIG['host_name'], :controller => "employees", :action => "edit_slot"), :method => "post", :id => "#{skill.id}-#{interviewer.eid}-form",style: "display:none;") do %>
              <input type="number" class="edit_slot" name="n_interviews_per_week" value=<%= interviewer.n_interviews_per_week %>>
              <%= hidden_field_tag "interviewer_id", interviewer.id %>
              <%= submit_tag "update" %> 
            <% end %>
          </td>
          <td class="t-data" > 
            <span id=<%= "#{skill.id}-#{interviewer.eid}-pref-date"%>> <%= interviewer.preferred_day_and_time %> 
            <%= link_to image_tag("edit.svg", :size => "15x15"),'#', onclick: "toggleElement(event,'##{skill.id}-#{interviewer.eid}-pref-date')", title:"Edit" %>
            </span>
            <%= form_tag(url_for(:host => APP_CONFIG['host_name'], :controller => "employees", :action => "edit_slot"), :method => "post", :id => "#{skill.id}-#{interviewer.eid}-pref-date-form",style: "display:none;") do %>
              <textarea rows="3" class="" name="preferred_day_and_time">
                <%= interviewer.preferred_day_and_time %>
              </textarea>
              <%= hidden_field_tag "interviewer_id", interviewer.id %>
              <%= submit_tag "update" %> 
            <% end %>
          </td>
          <td class="t-data" > <%= interviewer.email %></td>
          <td class="t-data"> <%= interviewer.phone %> </td>
          <td class="t-data customer-<%=interviewer.eid%>" >Not Found</td>
          <td><span class="close_box_link">
            <%= link_to image_tag("RedCross.png", :size => "22x22"),url_for(:host => APP_CONFIG['host_name'], controller: :interview_skills, action: :destroy,id: interviewer.id, skill_id: skill.id),method: :delete, data: {confirm: "Are you sure you want to remove interviewer?"},title: "delete" %>
          </span> <br /></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
</div>
<% url = "https://" + APP_CONFIG['host_name'] + employees_autocomplete_path %>
<% rms_base_url = "https://" + APP_CONFIG['rms_host_name'] %>

<script>
  $('.new-interviewer').autocomplete({
    source: function(request, response) {
      $.ajax({
        url: '<%=url%>',
        dataType: "json",
        data: {
          query: request.term
        },
        success: function(data) {
          response(data);
        }
      });
    }
  });

  $.ajax({
    url: '<%= rms_base_url + "/customer_data" %>', //TODO: RMS URL
    type: 'GET',
    data:{employee_id:<%= @eids %>},
    success: function (response) {
        $.each(response, function (i, item) {
          let k = 0;
          htmlElements = document.querySelectorAll(".customer-"+item.eid);
          while(k < htmlElements.length) {
            htmlElements[k].innerHTML = item.customer;
            k+=1;
          }
        });
      
    }
  });

  function search (){
    var skills = document.querySelectorAll('[data-skill-name]');
    var i = 0;
    var searchTerm =document.getElementById("search_skill").value.toLowerCase();
    while (i < skills.length) {
      var skillName= skills[i].getAttribute('data-skill-name').toLowerCase();
      if (skillName.includes(searchTerm)) {
        skills[i].style.display="block"
      } else {
          skills[i].style.display="none"
      }
      i+=1;
    }
  }

  function toggleElement(e, element){
    e.preventDefault();
    $(element).toggle();
    $(element+"-form").toggle();
  }
</script>

