<div id="reqowner_summary_div" class="common_class">
  <span class="span_with_13_with_padding_0"> Recruiter Summary </span>
  <br/>
  <% path = APP_CONFIG['host_name'] + "/home/show_summary_per_recruiter" %>
  <%= form_tag path, :method => 'get' do %>
    <table id="summaries_recruiter_table">
      <tr>
        <td> From </td>
        <td> To </td>
        <td> </td>
      </tr>
      <tr>
        <td> <%= text_field_tag "sdate[sdate]","", class: "datepicker" %> </td>
        <td> <%= text_field_tag "edate[edate]","", class: "datepicker" %> </td>
        <td class="summaries_recruiter_submit_button"> <%= submit_tag "Change Dates" %> </td>
      </tr>
    </table>
  <% end %>
  <br /> <br />
  <% if @recruiter_summary_table && @recruiter_summary_table.size > 0 %>
    <table class="reqowner_summary_table">
      <tr class="header_row">
        <td> Name      </td>
        <td> Uploaded  </td>
        <td> Forwarded </td>
        <td> Shortlisted </td>
      </tr>
      <% @recruiter_summary_table.each do |employee, row| %>
        <tr class="<%= cycle('color_line_odd', 'color_line_even') %>">
          <td> <%= link_to employee.name, :controller => "resumes", :action => "my_resumes", :id => employee.id %> </td>
          <td> <%= row[:uploads] %> </td>
          <td> <%= row[:forwards] %> </td>
          <td> <%= row[:shortlists] %> </td>
        </tr>
      <% end %>
      <tr> <td colspan="9"> &nbsp; </td> </tr>
      <tr class="blue">
        <td> Total </td>
        <td> <%= @total_row[:uploads] %> </td>
        <td> <%= @total_row[:forwards] %> </td>
        <td> <%= @total_row[:shortlists] %> </td>
      </tr>
    </table>
  <% else %>
    No recruiter summary.
  <% end %>
</div>
<script>
  $(function() {
  $('.datepicker').datepicker({
        dateFormat: 'dd-mm-yy',
        showOn: "button",
        buttonImage: "/assets/calendar.gif",
        buttonImageOnly: true,
        buttonText: "Select date"
      });
});
</script> 
