<p>Dear <%= @panel_member.name %>,</p>

<p>This is a reminder to provide feedback
  for the interview conducted on <%= @interview.interview_date.strftime('%d/%m/%Y') %>.</p>

<p>Requirement: <%= @requirement.name %></p>
<p>Resume: <%= @resume.name %></p>


<p>
  <a href="<%= url_for(protocol: "https", host: APP_CONFIG['host_name'], controller: 'resumes', action: 'feedback_form', interview_id: @interview.id) %>">
    Click here to provide feedback
  </a>
</p>

<p>Please submit your feedback as soon as possible.</p>


<p>Thank you!</p>
<p>
  Regards,<br />
  Recruitment Team
</p>