<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <p> Hi, </p>
    <p> This is for your information. <%= link_to @resume.name, {:protocol => "https", :host => APP_CONFIG['host_name'], :controller => "resumes", :action => "show", :id => @resume.uniqid.name} %> has been marked by engineering as <%= @hire_action %>. </p>
  <p> Requirement: <%= @requirement.name %> </p>
  <p> Comment: <%= @comment %> </p>
  ============================================================== 
  </br>
  The feedbacks are:- 
  </br>
  <% @resume.feedbacks.each do |feedback| %>
    Interviewer: <%= feedback.employee.name %> </br>
    Rating: <%= feedback.rating %> </br>
    <%= simple_format feedback.feedback %>  </br>
    </br>
  <% end %>
  ============================================================== 
  </p>
  <p>
  This is a system generated message. Please do not reply to this email. Instead login into
  the recruitment system. Here is a link to the resume
  <%= link_to @resume.name, {:protocol => "https", :host => APP_CONFIG['host_name'], :controller => "resumes", :action => "show", :id => @resume.uniqid.name} %>
  </p>
  </body>
</html>
