<p>Dear <%= @hiring_manager.name %>,</p>

<p>Here is your weekly summary of requirements pending review (open > 3 business days with no projection):</p>

<table border="1" cellpadding="6" cellspacing="0">
  <thead>
    <tr>
      <th>Requirement</th>
      <th>Status</th>
      <th>TA Lead</th>
      <th>Engineering Leads</th>
      <th>Last Forward Received</th>
      <th>Open Forwards</th>
      <th>Shortlisted</th>
      <th>Scheduled</th>
    </tr>
  </thead>
  <tbody>
    <% @requirements.each do |req| %>
      <tr>
        <td><%= link_to req.name, url_for(:protocol => "https", :controller => "requirements", :action => "show", :id => req.id), target: "_blank" %></td>
        <td><%= req.status %></td>
        <td><%= req.ta_lead&.name %></td>
        <td><%= req.eng_leads.map(&:name).join(', ') %></td>
        <td><%= req.last_forward_recieved.strftime('%d/%m/%Y') %></td>
        <td><%= req.open_forwards.count %></td>
        <td><%= req.shortlists.count %></td>
        <td><%= req.scheduled.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>Regards,<br/>Recruitment Team</p>


