<script>
  var all_req_ids = [ <%= raw all_reqs_ids().join(",") %>];
  var all_req_names = [ <%= raw all_reqs_names().map{ |r| '"' + r + '"' }.join(",") %>];
</script>
<table id="resume_list_table" class="modern-table">
  <thead>
    <tr>
      <th> Name </th>
      <th> Req </th>
      <th> Date </th>
      <th> Exp </th>
      <% if is_HR_ADMIN? || is_BD? || is_GM? || is_REQ_MANAGER? || is_MANAGER? %>
        <th> Notice </th>
      <% end %>
      <% if is_HR_ADMIN? || is_GM? %>
        <th> ECTC </th>
      <% end %>
      <th> Ratings </th>
      <th> Location</th>
      <th> Status  </th>
      <th> Actions </th>
    </tr>
  </thead>
  <% counter_value = 1 %>
  <% @matches.each do |match| %>
    <% resume = match.resume %>
    <tr id="all_interviews_table<%= counter_value.to_s %>">
      <td class="table-cell-primary"><%= get_resume_link_with_mouse_over_and_mouseout(resume) %> </td>
      <td class="table-cell-secondary"> <%= get_requirement_link_with_mouse_over_and_mouseout(match.requirement) %> </td> 
      <td class="table-cell-secondary"> <%= print_date_no_year(match.get_display_interview_date) %> </td> 
      <td class="table-cell-secondary"> <%= get_current_experience_string(resume) %> </td>
      <% if is_HR_ADMIN? || is_BD? || is_GM? || is_REQ_MANAGER? || is_MANAGER? %>
        <td class="table-cell-secondary"> <%= resume.notice %> </td>
      <% end %>
      <% if is_HR_ADMIN? || is_GM? %>
        <td class="table-cell-secondary"> <%= resume.expected_ctc %> </td>
      <% end %>
      <td class="table-cell-secondary">
        <% match.interviews.each do |interview| %>
          <% if interview.feedbacks.present? %>
            <%= "L#{interview.interview_level}: " if interview.interview_level.present? %>
            <%= interview.feedbacks.map(&:rating).join(", ") %><br>
          <% end %>
        <% end %>
      </td>
      <td class="table-cell-secondary"> <%= resume.location.titleize %> </td>
      <td title="<%= resume.manual_status %>" class="table-cell-truncated">
        <%= resume.manual_status ? resume.manual_status[0..25] : '' %>
      </td> 
      <td class="table-actions">
        <%= get_view_feedback_icon(resume, 10) %> 
        <%= get_actions_ddl(resume, match, "SCHEDULED") %>
      </td>
    </tr>
    <% counter_value += 1 %>
  <% end %>
</table>
