<td colspan="10" class="align_right">
  <div class="interview-management-header">
    <h3>Manage Interviews</h3>
    <div class="table-actions">
      <%= link_to image_tag("RedCross.png", :size => "22x22"), "", :onclick =>"deleteAjaxRequestTr('ajax_request_tr');", :class => "action-link danger", :title => "Close" %>
    </div>
  </div>
  
<%= form_tag url_for(controller: "resumes", action: "add_interview"), method: :post, id: "add_interview_form" do %>
  <table id="manage_interviews_table" class="modern-table">
    <thead>
      <tr>
        <th>Interviewer</th>
        <th>Level</th>
        <th>Date</th>
        <th>Time</th>
        <th>Duration</th>
        <th>Office Location</th>
        <th>Focus</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @interviews.each_with_index do |i, index| %>
           <tr class="<%= 'red' if i.declined_or_no_show? %>">
             <td>
               <div class="interview-info">
                 <div class="interview-name-row">
                   <span class="interview-type-icons">
                     <%= interview_type_icon(i.stage, i.itype) %>
                   </span>
                   <%= text_field_tag "interview_employee_name#{index}", i.employee.name, :class => "form-control employee-autocomplete", :placeholder => "Type employee name..." %>
                 </div>
               </div>
             </td>
             <td style="min-width: 60px;">
               <%= select_tag "interview_level_#{index}", options_for_select(Interview.get_level_for_select, i.interview_level), :class => "form-control" %>
             </td>
             <td style="width: 140px;">
               <input type="text" class="datepicker form-control" id=<%="interview_date#{index}"%> value=<%= (i.interview_date).strftime("%d-%m-%Y") %>>
             </td>
             <td style="min-width: 90px;">
               <%= select_tag "time_slot#{index}", options_for_select(get_time_slot_array, i.interview_time.to_s[11..15]), :class => "form-control select-box-small" %>
             </td>
             <td style="min-width: 100px;">
               <%= select_tag "duration#{index}", options_for_select([['30 min', 30], ['45 min', 45], ['60 min', 60], ['90 min', 90], ['120 min', 120]], i.duration || 60), :class => "form-control" %>
             </td>
             <td>
               <% if i.face_to_face_interview? %>
                 <%= select_tag "officelocation_id#{index}", options_for_select([['Select Office Location', '']] + Interview.available_office_locations, i.officelocation_id), :class => "form-control select-box-small office-location-select" %>
               <% else %>
                 <span class="text-muted">N/A</span>
               <% end %>
             </td>
             <td>
                <%= 
                  selected_value = i.skills_based ? "skills_based" : (i.form_config_id || "")
                  select_tag "interview_feedback_form_#{index}",
                  options_for_select([["Skills Based", "skills_based"]] + @form_configs.map { |config| [config.title, config.id] }, selected_value),
                  { 
                    :class => "form-control select-box-small", 
                    :include_blank => "No Template" 
                  } 
                %>
               <%= text_area_tag "interview_focus#{index}", i.focus, :class => "form-control focus-textarea", :onfocus => "textBoxContentsOnFocus(this.id, 'Enter focus');", :onblur  => "textBoxContentsOnBlur(this.id, 'Enter focus');", :rows => 2 %>
               <div class="table-actions" style="margin-top: 6px;">
                 <% if i.declined_or_no_show_status_label.present? %>
                   Status: <span class="no-show-status"><%= i.declined_or_no_show_status_label %></span>
                 <% else %>
                   <div class="no-show-buttons">
                      <%= link_to "Candidate No Show", { host: APP_CONFIG['host_name'], controller: "resumes", action: "mark_interview_no_show", id: i.id, no_show_type: "CANDIDATE_NO_SHOW" }, class: "btn btn-sm btn-primary", title: "Mark as Candidate No Show", data: { toggle: "tooltip", placement: "top" } %>
                      <%= link_to "Panel No Show", { host: APP_CONFIG['host_name'], controller: "resumes", action: "mark_interview_no_show", id: i.id, no_show_type: "PANEL_NO_SHOW" }, class: "btn btn-sm btn-primary", title: "Mark as Panel No Show", data: { toggle: "tooltip", placement: "top" } %>
                   </div>
                 <% end %>
               </div>
             </td>
            <td>
              <div class="table-actions">
                 <%= link_to image_tag("RedCross.png", :size => "20x20"), { host: APP_CONFIG['host_name'], controller: "resumes", action: "delete_interview", id: i.id }, { class: "action-link danger", title: "Delete Interview", data: { toggle: "tooltip", placement: "top" } } %>
                 <%= link_to image_tag("GoIcon.gif", :size => "20x20"), "", :onClick=> "changeInterview(#{i.id}, #{index});", :class => "action-link success", :title => "Update Interview", :data => { toggle: "tooltip", placement: "top" } %>
              </div>
            </td>
           </tr>
         <% end %>
         <% if @interviews.size < 5 %>
           <tr class="add-interview-row">
             <td colspan="7" class="text-center">
               <%= link_to "Add Interviews",'',:onclick => "addInterviewRow(event, #{@req_match.id}, ['#{get_time_slot_array.join("', '")}'], [#{@form_configs.map { |config| "'#{config.id}'" }.join(', ')}], [#{@form_configs.map { |config| "'#{config.title}'" }.join(', ')}]);", :class => "action-link success", :style => "font-weight: bold;" %>
             </td>
           </tr>
         <% end %>
    </tbody>
  </table>
<% end %>
</td>
<script>
  $(function() {
  $('.datepicker').datepicker({
        dateFormat: 'dd-mm-yy',
        showOn: "focus",
        buttonText: "Select date"
      });
      
  // Initialize autocomplete for all employee input fields
  $('.employee-autocomplete').each(function() {
    createEmployeeAutocomplete('#' + this.id);
  });
  
  // Make office locations available to JavaScript
  window.officeLocations = <%= raw Interview.available_office_locations.to_json %>;
  
  // Initialize tooltips
  $('[data-toggle="tooltip"]').tooltip();
  
});
</script> 
