<td colspan="10" class="align_right">
  <div class="interview-management-header">
    <h3>Manage Interviews</h3>
    <div class="table-actions">
      <%= link_to image_tag("RedCross.png", :size => "22x22"), "", :onclick =>"deleteAjaxRequestTr('ajax_request_tr');", :class => "action-link danger", :title => "Close" %>
    </div>
  </div>
  
  <table id="manage_interviews_table" class="modern-table">
    <thead>
      <tr>
        <th>Interviewer</th>
        <th>Level</th>
        <th>Date</th>
        <th>Time</th>
        <th>Focus</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @interviews.each_with_index do |i, index| %>
           <tr class="<%= 'red' if i.status == 'DECLINED' %>">
             <td>
               <div class="interview-info">
                 <span class="interview-type-badge">
                   <% if i.itype && i.stage %>
                     <%= i.stage.titleize %> - <%= i.itype.titleize %>
                   <% end %>
                 </span>
                 <%= select_tag "interview_employee_name#{index}", options_for_select(Employee.get_employee_array_for_select, i.employee.id), :class => "form-control select-box" %>
               </div>
             </td>
             <td>
               <%= select_tag "interview_level_#{index}", options_for_select(Interview.get_level_for_select, i.interview_level), :class => "form-control select-box-small" %>
             </td>
             <td>
               <input type="text" class="datepicker form-control" id=<%="interview_date#{index}"%> value=<%= (i.interview_date).strftime("%d-%m-%Y") %>>
             </td>
             <td>
               <%= select_tag "time_slot#{index}", options_for_select(get_time_slot_array, i.interview_time.to_s[11..15]), :class => "form-control select-box-small" %>
             </td>
             <td>
               <%= text_area_tag "interview_focus#{index}", i.focus, :class => "form-control focus-textarea", :onfocus => "textBoxContentsOnFocus(this.id, 'Enter focus');", :onblur  => "textBoxContentsOnBlur(this.id, 'Enter focus');", :rows => 2 %>
             </td>
             <td>
               <div class="table-actions">
                 <%= link_to "Delete", host: APP_CONFIG['host_name'], controller: "resumes",:action => "delete_interview", :id => i.id, :remote => true, :method => :delete, :class => "action-link danger" %>
                 <span class="action-separator">|</span>
                 <%= link_to "Update", "", :onClick=> "changeInterview(#{i.id}, #{index});", :class => "action-link success" %>
               </div>
             </td>
           </tr>
         <% end %>
         <% if @interviews.size < 5 %>
           <tr class="add-interview-row">
             <td colspan="6" class="text-center">
               <%= link_to "Add Interviews",'',:onclick => "addInterviewRow(event, #{@req_match.id}, [ #{all_record_ids("Employee").join(", ")}], ['#{all_record_names("Employee").join("', '")}'], ['#{get_time_slot_array.join("', '")}']);", :class => "action-link success", :style => "font-weight: bold;" %>
             </td>
           </tr>
         <% end %>
    </tbody>
  </table>
</td>
<script>
  $(function() {
  $('.datepicker').datepicker({
        dateFormat: 'dd-mm-yy',
        showOn: "focus",
        buttonText: "Select date"
      });
});
</script> 
