<td colspan="7" class="align_right">
  <table id="manage_interviews_table">
    <tr class="float_right_with_10_padding">
      <td style="border: none;">
        <%= link_to image_tag("RedCross.png", :size => "22x22"), '#', :onclick =>"deleteAjaxRequestTr('ajax_request_tr');" %>
      </td>
    </tr>
    <% index = 0
       req_match_id = @req_match.id
       @interviews.each do |i|
         req_match_id = i.req_match.id %>
         <% if i.status == "DECLINED" %>
           <tr class="red">
         <% else %>
           <tr class="float_right_with_no_padding">
         <% end %>
           <td class="manage_interviews_cell">
             <span class="bold" style="font-size: 10px;">
               <% if i.itype && i.stage %>
                 ( <%= i.stage.titleize %> - <%= i.itype.titleize %> )
               <% end %>
             </span>
             <%= select_tag               "interview_employee_name#{index}",  options_for_select(Employee.get_employee_array_for_select, i.employee.id),
                                                                                                          :class   => "select_box_with_full_width" %> - 
             <%= calendar_date_select_tag "interview_date#{index}",           "date#{index}", :year_range => 1.years.ago..1.years.since,
                                                                                                          :value   => date_in_calendar_format(i.interview_date) %> - 
             <%= select_tag               "time_slot#{index}",                options_for_select(get_time_slot_array, i.interview_time.to_s[11..15]),
                                                                                                          :class   => "select_box_with_low_width" %> - 
             <%= text_area_tag            "interview_focus#{index}", i.focus, :class => "focus_textarea", :onfocus => "textBoxContentsOnFocus(this.id, 'Enter focus');",
                                                                                                          :onblur  => "textBoxContentsOnBlur(this.id, 'Enter focus');" %>
             <%= link_to "Delete", :action => "delete_interview", :id => i.id %> |
             <%= link_to_function "Update", "changeInterview(#{i.id}, #{index});" %>
           </td>
         </tr>
         <% index = index + 1 %>
       <% end %>
       <% if @interviews.size < 5 %>
         <tr class="float_right_with_10_padding">
           <td class="manage_interviews_cell" style="border: none;">
             <%= link_to "Add Interviews",'',:onclick => "addInterviewRow(event, #{@interviews.size}, #{req_match_id}, #{index}, [ #{all_record_ids("Employee").join(", ")}], ['#{all_record_names("Employee").join("', '")}'], ['#{get_time_slot_array.join("', '")}']);", :style => "color: green; font-weight: bold;" %>
           </td>
         </tr>
       <% end %>
  </table>
</td>
