<% if @results.size > 0 %>
  <div class="table-header">
    <h2><%= title %></h2>
    <div id="searched_results_description">
      <% unless @search_text.nil? %>
        <p>Search parameters - <%= @search_text %></p>
      <% end %>
    </div>
  </div>
  
  <% if @results.respond_to?(:total_pages) %>
    <%= will_paginate @results, { :params => {:only_path => false}} %>
  <% end %>
  
  <%# Hidden fields for form preservation - to be added by individual views %>
  <%= yield :hidden_fields if content_for?(:hidden_fields) %>
  
  <table class="modern-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Qualification</th>
        <th>Skills/Summaries</th>
        <th>Experience</th>
        <th>Notice Period</th>
        <th>Overall Status</th>
        <th>Recent Activity On</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |result| %>
        <tr>
          <td class="table-cell-primary" title="<%= result.name %>">
            <%= resume_link(result) %>
          </td>
          <td class="table-cell-secondary" title="<%= result.qualification %>">
            <%= result.qualification[0..20] %>
          </td>
          <td class="table-cell-secondary" title="<%= result.summary %>">
            <%= result.summary[0..20] %>
          </td>
          <td class="table-cell-secondary">
            <%= result.experience %>
          </td>
          <td class="table-cell-secondary">
            <%= result.notice %>
          </td>
          <td>
            <%= result.overall_status %>
          </td>
          <td class="table-cell-secondary">
            <% if result.comments.size > 0 %>
              <%= print_date(result.comments.last.updated_at) %>
            <% else %>
              <%= print_date(result.updated_at) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <% if @results.respond_to?(:total_pages) %>
    <%= will_paginate @results, { :params => {:only_path => false}} %>
  <% end %>
<% else %>
  <div class="table-empty">
    <div class="empty-icon">🔍</div>
    <p>Sorry there are no results found corresponding to your search parameters.</p>
  </div>
<% end %>
