<script>
  var all_req_ids = [ <%= raw all_reqs_ids().join(",") %>];
  var all_req_names = [ <%= raw all_reqs_names().map{ |r| '"' + r + '"' }.join(",") %>];
</script>
<div id="error_messages_div"> </div>
<% unless @forwards.nil? || @forwards.size == 0 %>
  <table id="resume_list_table" class="modern-table">
    <thead>
      <tr>
        <th> Name </th>
        <th> Exp </th>
        <th> Skills </th>
        <th> Notice Period </th>
        <th> Status </th>
        <th> Upload Date </th>
        <th> Requirements </th>
        <th> Preferred Location </th>
        <th> Actions </th>
      </tr>
    </thead>
    <tbody>
      <%
        counter_value = 0
        @forwards.each do |fwd|
          resume = fwd.resume
          if @is_req_match == 0
            reqs = fwd.get_reqs_to_forward
          else
            reqs = resume.get_resume_req_matches(get_current_employee)
          end %>
          <tr id="<%= @row_id_prefix %><%= counter_value %>">
            <td class="table-cell-primary"> <%= resume_link(resume) %>  </td>
            <% year, month = resume.get_current_experience %>
            <td class="table-cell-secondary"> <%= "#{year}-#{month}" %> </td>
            <td class="table-cell-secondary"> <%= resume.skills %> </td>
            <td class="table-cell-secondary"> <%= resume.notice %> </td>
            <td class="table-cell-secondary">
              <% manual_status = resume.manual_status %>
              <%= link_to (manual_status ? manual_status : "Add status"),"",:onclick => "showManualStatusBox(event, #{resume.id});" %>
            </td>
            <td class="table-cell-secondary"> <%= print_date_no_year (fwd.created_at) %> </td>
            <td class="table-cell-secondary"> <%= select_tag "requirement_ids", options_for_select(reqs), :multiple => true, :size => reqs.size, :id => "requirement_ids#{counter_value}", :name => "requirement_ids[]", :class => "manager_index_mutilple_ddl" %> </td>
            <td class="table-cell-secondary"> <%= resume.preferred_location %> </td>
            <td class="table-cell-secondary">
              <%= get_manager_actions_dropdownlist(resume, fwd, counter_value, @after_shortlist_page) %>
            </td>
          </tr>
          <% counter_value = counter_value + 1 %>
       <% end %>
    </tbody>
  </table>
<% else %>
  <br /> No <%= @status.downcase %> resumes.
<% end %>
