<% if params[:action] == "show_quarterly_offered"
     month_year_str  = Date::ABBR_MONTHNAMES[@smonth] + " " + @start_year.to_s + ".." + Date::ABBR_MONTHNAMES[@emonth] + " " + @end_year.to_s
   end %>

<% if params[:action] == "show_quarterly_offered" %>
  <div class="table-header">
    <h2>Offered: <%= month_year_str %> (<%= @offered_comments.size %>)</h2>
    <% if defined?(@selected_group) && @selected_group %>
      <p style="margin-top: 10px;">
        <strong>Selected Group:</strong> <%= @selected_group.name %>
      </p>
    <% end %>
    <%= render "resumes/month_year_selector", url: url_for(controller: 'resumes', action: 'show_quarterly_offered') %>
  </div>
<% end %>

<table id="offered_resumes_table" class="sortable modern-table">
  <thead>
    <tr>
      <th> Name </th>
      <th class="sorttable_alpha"> Requirement </th>
      <th> Offer date </th>
      <th> Experience </th>
    </tr>
  </thead>
  <tbody>
    <% @offered_comments.each do |c| %>
      <tr>
        <td class="table-cell-primary"> <%= resume_link(c.resume) %> </td>
        <td class="table-cell-secondary"> <%= get_requirement_from_comment(c, "OFFERED") ? requirement_link(get_requirement_from_comment(c, "OFFERED")) : "Not Available" %> </td>
        <td class="table-cell-secondary"> <%= print_date(c.created_at) %> </td>
        <td class="table-cell-secondary"> <%= get_current_experience_string(c.resume) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
