<div class="table-container">
  <% content_for :hidden_fields do %>
    <%= hidden_field_tag "search", :value => @search_text %>
    <%= hidden_field_tag "ctc_min", :value => @ctc_min %>
    <%= hidden_field_tag "ctc_max", :value => @ctc_max %>
    <%= hidden_field_tag "expected_ctc_min", :value => @expected_ctc_min %>
    <%= hidden_field_tag "expected_ctc_max", :value => @expected_ctc_max %>
    <%= hidden_field_tag "experience_months_min", :value => @experience_months_min %>
    <%= hidden_field_tag "experience_months_max", :value => @experience_months_max %>
    <%= hidden_field_tag "status", :value => @status ? @status : "Any" %>
    <%= hidden_field_tag "requirement_id", :value => @requirement_id if @requirement_id.present? %>
  <% end %>
  
  <% 
    title = 'Advanced Search Results'
    if @requirement_id.present?
      requirement = Requirement.find(@requirement_id) rescue nil
      title = "Resumes Matching: #{requirement.name}" if requirement
    end
  %>
  <%= render 'search_results_table', title: title %>
</div>
