<div class="form-container">
  <div class="form-header">
    <h2>Feedback for <%= @resume.name %></h2>
  </div>

  <table class="modern-table">
    <thead>
      <tr class="header_row">
        <td>Name</td>
        <td>Date/Time</td>
        <td>Requirement</td>
        <td>Type</td>
        <td>Focus</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= resume_link(@resume) %></td>
        <td><%= @interview.interview_date.strftime("%B %d, %Y") %> at <%= @interview.interview_time.strftime("%I:%M %p") %></td>
        <td><%= requirement_link(@requirement) %></td>
        <td><%= @interview.itype.present? ? @interview.itype.titleize : "Telephonic" %></td>
        <td><%= @interview.focus.present? ? @interview.focus : "-" %></td>
      </tr>
    </tbody>
  </table>

  <div id="feedback_form" class="modern-form">
    <div id="dynamic_feedback_form"></div>
    <!-- Hidden fields -->
    <input type="hidden" name="feedback[resume_id]" value="<%= @resume.id %>" />
    <% if @interview.present? %>
    <input type="hidden" name="feedback[interview_id]" value="<%= @interview.id %>" />
    <% end %>
    <% if @requirement.present? %>
    <input type="hidden" name="requirement_name" value="<%= @requirement.name %>" />
    <% end %>

  </div>
</div>

<script>

  document.addEventListener('turbolinks:load', function() {
      // Generate the dynamic form when the page loads
    generateDynamicForm('dynamic_feedback_form', <%= raw @form_config&.config&.to_json %>);
  });
</script>