<div id="outbox_div" class="common_class">
  <span class="span_with_13_with_padding_0"> OutBox </span>
  <br />
  <form name="form" method="post">
    <div id="error_messages_div" class="error_messages_div"> </div>
    <% if @outbox && @outbox.size > 0 %>
      <%= will_paginate @outbox %> <br />
      <table id="resume_list_table">
        <tr class="header_row">
          <td class="resume_list_header_name">     Resume Name </td>
          <td class="resume_list_sent_to_name">    Sent To     </td>
          <td class="resume_list_header_message">  Message     </td>
          <td class="resume_list_header_sent">     Sent On     </td>
          <td class="resume_list_header_actions">  Actions     </td>
        </tr>
        <% counter_value = 1
           row_id_prefix = "outbox_msg_row" %>
        <% @outbox.each do |msg| %>
          <tr id="<%= row_id_prefix %><%= counter_value %>" class="<%= cycle('color_line_odd', 'color_line_even') %>">
            <td> <%= get_resume_link_with_mouse_over_and_mouseout(msg.resume) %> </td>
            <td> <%= get_words(msg.sent_to.name, 2) %>
            <td> <%= msg.message     %> </td>
            <td> <%= print_date_and_time(msg.created_at)  %> </td>
            <td onclick="replyToBox(event, '<%= msg.message %>', '<%= Message.find(msg.reply_to).message %>', <%= msg.id %>);"> Reply to </td>
          </tr>
          <% counter_value = counter_value + 1 %>
        <% end %>
      </table>
      <br /> <%= will_paginate @outbox %>
    <% else %>
      No messages available.
    <% end %>
  </form>
</div>
