<div class="resume">
 <div class="resume__info">
  <div class="resume__edit">
    <% if is_HR_ADMIN? || is_MANAGER? %>
      <%= link_to image_tag("edit.svg", :size => "20x20"), :host => APP_CONFIG['host_name'], :controller => "resumes", :action => "edit", :id => @resume.id %>
    <% end %>
  </div>
   <div class="resume__name">
    <%= @resume.name.split(' ').map{|part| part.capitalize}.join(' ') %>
   </div>
   <div class="resume__status">
     <% if is_HR_ADMIN? || is_MANAGER? %> 
        (Status : <%= @overall_status %>) 
     <% end %>
     <% if @resume.summary && @resume.summary != "" %>
       <div class= "resume__summary-heading">Summary</div>
       <div class="resume__summary-content"> <%= @resume.summary %></div>
     <% end %>
   </div>
   <div class="resume__communication">
     <div class="resume__communication-1">
       <div class="item item--center"><%= image_tag("phone.svg",  :size => "25x25")  %> 
          <span  class="item__value item__value--normal"><%= @resume.phone %></span>
       </div>
       <div  class="item item--center"><%= image_tag("location.svg",  :size => "25x25")  %> 
         <span  class="item__value item__value--normal"><%= @resume.location %></span>
        </div>
     </div>
     <div class="resume__communication-2">
       <div class="item item--center"><%= image_tag("mail.svg",  :size => "25x25")  %> 
         <span  class="item__value item__value--normal">
           <%= mail_to "#{@resume.email}" %>
         </span>
       </div>
       <div>
          <h2 class= "attachment_title">Resumes</h2>
            <%= render "download_box", :filenames => @resume.resume_path %>
          <h2 class= "attachment_title">Other Docs</h2>
            <%= render "download_box", :filenames => @resume.other_docs_path %>
       </div>  
     </div>
   </div>
   <div class= "resume__other-info">
      <% if is_HR_ADMIN? || is_BD? %>
        <div class="item item--center">
          <span  class="item__label item__label--center"> Resume Id: </span>
          <span  class="item__value item__value--center"> <%= @resume.id %> </span>
        </div>
      <% end %>
      <div class="item item--center">
        <span class="item__label item__label--center"> Skype Id: </span>
        <span class="item__value item__value--center"> <%= @resume.skype_id %> </span>
      </div>
      <div class="item item--center">
        <span class="item__label item__label--center"> Qualification: </span>
        <span class="item__value item__value--center"> <%= @resume.qualification %> </span>
      </div>
      <div class="item item--center">
         <span class="item__label item__label--center"> Experience: </span>
         <span class="item__value item__value--center"> <%= get_current_experience_string(@resume) %> </span>
      </div>
      <div class="item item--center">
        <span class="item__label item__label--center"> Current Company: </span>
        <span class="item__value item__value--center"> <%= @resume.current_company %> </span>
      </div>
      
      <% if is_HR_ADMIN? || is_GM? || get_current_employee.is_GROUP_HEAD? %>
        <div class="item item--center">
          <span class="item__label item__label--center"> Current CTC: </span>
          <span class="item__value item__value--center">
              <%= @resume.ctc %> Lakhs
          </span>
        </div>
        <div class="item item--center">
          <span class="item__label item__label--center"> Expected CTC: </span>
          <span class="item__value item__value--center">
              <%= @resume.expected_ctc %> Lakhs
          </span>
        </div>
      <% end %>
      <% if is_HR_ADMIN? || is_BD? || is_GM? || is_REQ_MANAGER? || is_MANAGER? %>
        <div class="item item--center">
          <span class="item__label item__label--center"> Notice Period: </span>
          <span class="item__value item__value--center"> <%= @resume.notice %> days </span>
        </div>
        <div class="item item--center">
          <span class="item__label item__label--center"> Referral Type: </span>
          <span class="item__value item__value--center"> <%= @resume.referral_type.titleize %> </span>
        </div>
        <div class="item item--center">
          <span class="item__label item__label--center"> Referral Name: </span>
          <span class="item__value item__value--center">
            <% unless @resume.referral_type == "DIRECT" || @resume.referral_id == 0 %>
              <%= get_referral_name(@resume.referral_type, @resume.referral_id).name %>
            <% end %>
          </span>
        </div>
        <% if @resume.joining_date %>
          <div class="item item--center">
            <span class="item__label item__label--center"> Joining date:  </span>
            <span class="item__value item__value--center"> <%= print_date(@resume.joining_date) %> </span>
          </div>
        <% end %>
      <% end %>
      <div class="item item--center">
        <span class="item__label item__label--center"> Uploaded at: </span>
        <span class="item__value item__value--center"> <%= print_date_and_time(@resume.created_at) %> </span>
      </div>

      <div class="item item--center">
        <span class="item__label item__label--center"> Practice Head Rating: </span>
        <span class="item__value item__value--center"> <%= @resume.practice_head_rating %>
        </span>
      </div>
      <div class="resume__mail">
        
        <%= link_to image_tag("MailIcon.png"),'#',onclick:"showMessageBoxAtTop(event, #{@resume.id}); return false;", :title => "Send Message" %>
      </div>
   </div>
 </div>
 <div class="resume__actions">
    <h2 class="resume__actions-goto"> Go To: </h2>
        <div class="goto-links">
          <a  href="#feedback">Feedbacks</a>
          <a href="#message">Messages</a>
          <a href="#comment">Comments</a>
        </div>
      
     <div id="resume_actions_div">
     <div class="actions">
        <% if is_HR_ADMIN? %>
          <% unless @resume.status == "JOINED" %>
            <%= form_tag url_for(:host => APP_CONFIG['host_name'], :action => "send_for_eng_decision" ) do %>
              <div>
                <%= submit_tag "Send for Engg. Decision", :class => "action__field" %>
                <%= hidden_field_tag "resume_id", @resume.id %>
              </div>
              <br /> <br />
            <% end %>
            <%= form_tag url_for(:host => APP_CONFIG['host_name'], :action => "send_for_decision" ) do %>
              <div>
                <%= submit_tag "Send for Mgmt. Decision", :class => "action__field" %>
                <%= hidden_field_tag "resume_id", @resume.id %>
              </div>
              <br /> <br />
            <% end %>
          <% end %>
        <% end %>
        <% if is_HR_ADMIN? || is_REQ_MANAGER? || is_GM? %>
            <% unless @resume.status == "FUTURE" %>
              <%= form_tag url_for(:host => APP_CONFIG['host_name'], :action => "move_to_future" ) do %>
                <div>
                  <%= submit_tag "Move to Future", :class => "action__field" %>
                  <%= hidden_field_tag "resume_id", @resume.id %>
                </div>
              <% end %>
            <br /> <br />
            <% end %>
            <% if @resume.status == "REJECTED" ||
                  @resume.status == "FUTURE"   ||
                  @resume.status == "NOT JOINED" ||
                  @resume.status == "N_ACCEPTED" ||
                  @resume.status == "JOINED" %>
              <%= form_tag url_for(:host => APP_CONFIG['host_name'], :action => "mark_active" ) do %>
                <div>
                  <%= submit_tag "Mark Active", :class => "action__field" %>
                  <%= hidden_field_tag "resume_id", @resume.id %>
                </div>
              <% end %>
              <br /> <br />
            <% end %>
            <%= form_tag url_for(:host => APP_CONFIG['host_name'], :action => "reject_all_forwards_req_matches" ) do %>
              <div>
                <%= submit_tag "Reject all Forwards/Req matches", :class => "action__field" %>
                <%= hidden_field_tag "resume_id", @resume.id %>
              </div>
            <% end %>
        <% end %>
          </div>
      </div>
      <div class="column-center">
        <p class="item">Click on the "Choose File" to upload more documents:</p>
        <%= form_tag url_for(:host => APP_CONFIG['host_name'], :action => "upload_document" ), :method => 'POST', :enctype => "multipart/form-data" do %>
          <input class="item" type="file" id="myFile" size="31" name="resume[upload_resume]">
          <%= hidden_field_tag "id", @resume.id %>
          <input type="submit" value="Upload">
        <% end %>
      </div>
      <div class="column-center">
        <%= form_tag url_for(:host => APP_CONFIG['host_name'], :action => "submit_ph_rating"), :method => 'POST' do %>
         <label for="ratings">Practice Head Rating:</label>
         <select name="rating" id="rating">
            <option value="red">Red</option>
            <option value="orange">Orange</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
         </select>
         <%= hidden_field_tag "id", @resume.id %>
         <input type="submit" value="Submit">
        <% end %>
      </div>
    </div>
</div>
<div id="resume_details_div" class="common_class">
  <form name="form" method="post">
    <% if (@resume.resume_overall_status != "Joined") || is_ADMIN? || is_HR_MANAGER? || is_GM? %>
      <% if is_HR_ADMIN? || is_REQ_MANAGER? || is_BD? %>
        
        <% if is_HR_ADMIN? || is_REQ_MANAGER? || is_GM? %>
          <div class="section" id="feedback">
              <div class="section__title">
                Feedbacks (<%= @feedbacks.size %>):
              </div>
              <div class="section__subtitle">
                 Summary : <%= get_feedback_rating_average(@feedbacks) %>
                </div>
              <div class="section__body">
                <div>
                  <% unless @feedbacks.nil? ||
                            @feedbacks.empty? %>
                    <% @feedbacks.each do |feedback| %>
                      <div class="comment">
                          <div class="comment__author"> 
                            By <%= feedback.employee.name %> :: 
                            <%= get_rating(feedback) %>
                          </div>
                          <div class="comment__date">
                            <%= print_date(feedback.created_at) %>
                          </div>
                          <div class="comment__body"> <%= simple_format feedback.feedback %> </div>
                      </div>
                    <% end %>
                  <% else %>
                    <div> No feedback available. </div>
                  <% end %>
                </div> 
              </div>
          </div>          
        <% end %>
        <div class="section" id="message">
          <div class="section__title"> 
            Messages (<%= @messages.size %>): 
          </div>
          <div class="section__body">
            <% unless @messages.nil? ||
                      @messages.empty? %>
              <% @messages.each do |message| %>
                <div class="comment">
                    <div class="comment__author">
                      By  <%= message.sent_by.name %>
                      To  <%= message.sent_to.name %>
                    </div> 
                    <div class="comment__date">
                      <%= print_date(message.created_at) %> 
                    </div>
                    <div class="comment__body"> <%= simple_format message.message %> </div>
                </div>
              <% end %>
            <% else %>
              <div> No messages available. </div>
            <% end %>
          </div> 
        </div>
        <div class= "section" id="comment">
          <div class="section__title">
            Comments (<%=@comments.size %>) 
          </div>
          <div class="section__body">
            <% unless @comments.nil? || @comments.empty? %>
              <% @comments.each do |comment| %>
              <div class="comment">
                <div class="comment__author" >
                  <%= comment.employee.name %>
                </div>
                <div class="comment__date">
                  <%= print_date_and_time_and_year(comment.created_at)%>
                </div>
                <div class="comment__body" id="comment_<%=comment.id %>">
                  <%= simple_format comment.comment %> 
                </div>
              </div>
              <% end %>
            <% else %>
              <div> No comments available. </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div id="error_messages_div" class="error_messages_div"> </div>
    <script>
      var all_req_ids = [ <%=raw all_reqs_ids().join(",") %>];
      var all_req_names = [ <%=raw all_reqs_names().map{ |r| '"' + r + '"' }.join(",") %>];
    </script>
    <% if is_HR_ADMIN? || is_REQ_MANAGER? || is_GM? %>
      <% matches = @resume.req_matches.find_all { |m| 
           m.status != "SHORTLISTED" && m.status != "SCHEDULED"
         }
         matches += @resume.forwards.find_all { |f|
           f.status != "ACTION TAKEN"
         }
      %>
      <% unless matches.empty? %>
        <table id="resume_list_table">
          <tr class="header_row">
            <td> Req Name/Forwarded to </td>
            <td> Req Status   </td>
            <td> Action   </td>
          </tr>
          <% matches.each do |m| %>
            <tr class="<%= cycle('color_line_odd', 'color_line_even') %>">
              <td>
                <% if m.is_a?(ReqMatch) %>
                  <%= get_requirement_link_with_mouse_over_and_mouseout(m.requirement) %>
                  <% status = "REQMATCH" %>
                <% else %>
                  <%= m.emp_forwarded_to.name %> <br />
                  ( <%  m.requirements.each do |r| %>
                    <%= r.name %>,
                  <% end %> )
                  <% status = "FORWARDED" %>
                <% end %>
              </td>
              <td>
                <%= m.status.titleize %>
                <%= "(" + print_date(m.resume.joining_date) + ")" if m.status == "JOINING" %>
              </td>
              <td>
                <%= get_actions_ddl(@resume, m, status) %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
      <% @status    = "FORWARDED"
         @forwards  = get_resume_req_matches_of_employee(@resume, @status)
      %>
      <% unless @forwards.nil? || @forwards.empty? %>
        <% @resumes  = get_forwards_resumes(@forwards)
           @is_req_match = 0
           @row_id_prefix = "forwards_show_index" 
           @after_shortlist_page = false 
         %>
         <%= render "manager_index" %>
      <% end %>
      <br /> <br />
      <% @status   = "SHORTLISTED"
         @forwards = get_resume_req_matches_of_employee(@resume, @status) %>
      <% unless @forwards.nil? || @forwards.empty? %>
        <% @resumes       = get_reqmatches_resumes(@forwards)
           @is_req_match  = 1
           @row_id_prefix = "reqmatches_show_index" 
           @after_shortlist_page = true 
         %>
         <%= render "manager_index" %>
      <% end %>
      <br /> <br />
      <% @status   = "SCHEDULED"
         @forwards = get_resume_req_matches_of_employee(@resume, @status) %>
      <% unless @forwards.nil? || @forwards.empty? %>
        <% @resumes       = get_reqmatches_resumes(@forwards)
           @is_req_match  = 1
           @row_id_prefix = "reqmatches_show_index" 
           @after_shortlist_page = true 
        %>
        <%= render "manager_index" %>
      <% end %>
    <% end %>
  </form>
</div>
<script>
  function toggleComment(commentDiv,iconDiv,event) {
    event.preventDefault();
    if (commentDiv.style.display === "none") {
      commentDiv.style.display = "block";
      iconDiv.src = "<%= image_path("minus.svg")%>";
    } else {
      commentDiv.style.display = "none";
      iconDiv.src = "<%= image_path("add.svg")%>" ;
    }
}
</script>
